li {
  display: inline-block;
}

.take_test {
  display: none;
}

.show_take_test {
  display: block;
}

#flashcard {
  width: 900px;
  height: 450px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #eee;
}

#picture_div {
  display: inline;
}

#picture_tag {
  width: 500px;
  margin-top: 50px;
  margin-left: 50px;
}

#translations {
  display: inline;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 2em;
  color: #444;
}

#translations li {
  display: inline-block;
}
