li {
  display: block;
}

#flashcard {
  width: 900px;
  height: 450px;
  margin: 20px auto;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #ac0400;
}

#picture_tag {
  width: 500px;
  margin: 75px 30px;
  float:left;
}

#translations {
  display: inline;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 2em;
  color: #eee;
}

.take_test {
  display: none;
}

.show_take_test {
  display: block;
}
