
body {
  background-color:#eee;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header {
  background-image: url('../image/bluebasket_flipped.jpg');
  background-size: 100% 130px;
  background-repeat: no-repeat;
  height: 130px;
  border: solid #111b35;
  border-width: 5px 0px;
  min-width: 960px;
  margin: 30px 0px;
}

.header_inner{
  width: 960px;
  margin: 0px auto;
  position: relative;
}

h1 {
  position: absolute;
  font-family: 'Rock Salt', cursive;
  font-size: 2.5em;
  color: #eee;
  background-color: #111b35;
  border-radius: 5px;
  cursor: pointer;
  top: -25px;
  padding: 12px 20px;
  margin-left: 15px;
}

h1 a {
  color: #eee;
}

#nav {
  position: absolute;
  top: 115px;
}

#nav li {
  display: inline;
  margin-left: 45px;
}

#nav li a {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  color: #eee;
  background-color: #ac0400;
  border-radius: 3px;
  padding: 2px 10px;
  cursor: pointer;
}

main {
  width: 960px;
  margin: 0px auto;
}


p{
  font-family: 'Architects Daughter', cursive;
  font-size: 1.25em;
      margin-bottom: 30px;
  line-height: 22px;
}

button {
  border: none;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  color: #eee;
  margin: 10px 30px;
  border-radius: 3px;
  padding: 2px 10px;
  background-color: #111b35;
  cursor: pointer;
}


/*footer styling*/
footer {
  clear: both;
  margin: 30px 0px;
  height: 130px;
  overflow: hidden;
  border: solid #111b35;
  border-width: 5px 0px 5px 0px;
}

footer img {
  width: 100%;
  opacity: 0.8;
}

footer p{
  position: absolute;
  color: black;
  margin-top: -130px;
  align: center;
}
