
body {
  background-color:#eee;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*header styling*/
header {
  background-image: url('../image/bluebasket_flipped.jpg');
  background-size: 100% 130px;
  background-repeat: no-repeat;
  height: 130px;
  border: solid #111b35;
  border-width: 5px 0px;
  min-width: 960px;
  margin: 30px 0px;
}

h1 {
  position: absolute;
  top: -25px;
  margin-left: 15px;
  border-radius: 5px;
  padding: 12px 20px;
  background-color: #111b35;
  font-family: 'Rock Salt', cursive;
  font-size: 2.5em;
  color: #eee;
  cursor: pointer;
}

h1 a {
  color: #eee;
}

.header_inner {
  position: relative;
  width: 960px;
  margin: 0px auto;
}

#nav {
  position: absolute;
  top: 115px;
}

#nav li {
  display: inline;
  margin-left: 45px;
}

#nav li a {
  border-radius: 3px;
  background-color: #ac0400;
  padding: 2px 10px;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  color: #eee;
  cursor: pointer;
}

/*main styling*/
main {
  width: 960px;
  margin: 0px auto;
}


p {
  margin-bottom: 30px;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.25em;
  line-height: 28px;
}

button {
  margin: 10px 30px;
  border: none;
  border-radius: 3px;
  background-color: #111b35;
  padding: 2px 10px;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  color: #eee;
  cursor: pointer;
}


/*footer styling*/
footer {
  clear: both;
  margin: 30px 0px;
  height: 130px;
  border: solid #111b35;
  border-width: 5px 0px 5px 0px;
  background-size: 100% 130px;
  background-image: url('../image/bluebasket.jpg');
  background-repeat: no-repeat;
}

footer img {
  width: 100%;
  opacity: 0.8;
}

footer p {
  position: absolute;
  align: center;
  margin-top: -130px;
  color: black;
}

#copyright{
  height:30px;
  width:250px;
  margin: 0 auto;
  background-color: #111b35;
  text-align: center;
  color: #eee;
  margin-top: 50px;
  padding-top: 10px;
  border-radius: 4px;
}
