div p {
  display: block;
  height: 450px;
  margin:30px 0px 0px 18px;
}

main {
  margin: 43px auto;
}

.outer {
  width: 400px;
  margin: 30px;
  border: 5px solid #111b35;
  border-radius: 5px;
}

#firstOne{
  float: left;
}

#alison {
  float: left;
  width:400px;
  height:200px;
  margin-bottom:15px;
  background-size: 400px 400px;
  background-image: url('faces/alison.jpg');
}

#alison:hover {
  opacity: 0.5px;
  width: 400px;
  background-size: 400px 400px;
  background-image: url('faces/alison_face.jpg');
}

#secondOne {
  float: right;
}

#aziza {
  float:right;
  width:400px;
  height:200px;
  margin-bottom:15px;
  background-size: 400px 400px;
  background-image: url('faces/aziza.jpg');
}

#aziza:hover {
  opacity: 0.5px;
  width: 400px;
  background-size: 400px 400px;
  background-image: url('faces/aziza_face.jpg');
}

#thirdOne {
  float:left;
}

#derek {
  float:right;
  width:400px;
  height:200px;
  margin-bottom:15px;
  background-size: 400px 400px;
  background-image: url('faces/derek.jpg');
}

#derek:hover {
  opacity: 0.5px;
  width: 400px;
  background-size: 400px 400px;
  background-image: url('faces/derek_face.jpg');
}

#forthOne {
  float: right;
}

#elizabeth {
  float:left;
  width:400px;
  height:200px;
  margin-bottom:15px;
  background-size: 400px 400px;
  background-image: url('faces/liz.jpg');
}

#elizabeth:hover {
  opacity: 0.5px;
  width: 400px;
  background-size: 400px 200px;
  background-image: url('faces/liz_face.jpg');
}
